---
services:
  #######################################
  # The redis-store backend caching service.
  #######################################
  redis-store:
    command:
      - /opt/bitnami/scripts/redis/run.sh
      - --maxmemory
      - 256mb
    container_name: redis-store
    environment:
      ALLOW_EMPTY_PASSWORD: "no"
      REDIS_DISABLE_COMMANDS: FLUSHDB,FLUSHALL,CONFIG
      REDIS_PASSWORD: k7oMs2G5bc4mRN45jPZjLBZxuMFrCLahvPn648Zwq1lT41gSYZqapBRnSF2L995FaYcZBz8c7xkKXku94HeReDgdwBu1N4CzgfQ94Z504hjfzrST1u0idVkbXe8ust
    hostname: redis-store
    image: bitnami/redis:latest
    # networks:
    #   hypercache-redis-store-net: null
    #######################################
    ports:
      - mode: ingress
        target: 6379
        published: 6379
        protocol: tcp
# Networks section
networks:
  hypercache-redis-store-net:
    internal: true
    name: hypercache-redis-store-net
